.sortable {
    cursor: pointer;
    color: #dd5;
    font-size: 24px;

}

.warning {
    background-color: #e45b0b;

}

table {
  color: rgb(64, 5, 78);
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  overflow: hidden;
  margin: 12px 0;
  min-width: 300px;
  background: #dadad8;
  border-style: 2px solid gray;
  /* border-width: 2px; */
  
}

.header-row {
    background: #34495E;
    color: #fff;
    font-size: 24px;
    border-style: solid;
    
    
    
}

th, td {
    text-align: left;
    margin: 5px 10px;
    padding: 6px;
    
}

